<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarDriverLab"
        tools:targetApi="31">
        <activity
            android:name=".AdminPannel"
            android:exported="false" />
        <activity
            android:name=".profile_main"
            android:exported="false" />
        <activity
            android:name=".profile_add"
            android:exported="false" />
        <activity
            android:name=".foryou"
            android:exported="false" />
        <activity
            android:name=".profile_auth"
            android:exported="false" />
        <activity
            android:name=".mycarlist"
            android:exported="false" />
        <activity
            android:name=".CreateCar"
            android:exported="false" />
        <activity
            android:name=".menunav"
            android:exported="false" />
        <activity
            android:name=".CarDetails"
            android:exported="false" />
        <activity
            android:name=".CarList"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".CarModels"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.google.android.gms.auth.api.signin.WebClientId"
            android:value="@string/default_web_client_id" />
    </application>

</manifest>